body {
  background-image: url("../img/stripes-light.png");
  background-attachment: fixed;
  text-align: center;
  font-family: sans-serif;
}

.big-title {
  float: right;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  box-shadow: 0px 2px 10px .5px rgba(0, 0, 0, .25);
  margin-right: 220px;
  margin-top: 250px;
  background-color: white;
  padding: 10px 15px;
  opacity: 0;
  animation-name: title-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes title-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
  0% {margin-right: 310px;}
  100% {margin-right: 280px;}
}

p, li {
  font-size: 120%;
  line-height: 24px;
}

.learn-more {
  float: left;
  margin-top: 400px;
}

.space-top {
  margin-top: 20px;
}

.main-section {
  padding-top: 30px;
  width: 100%;
  overflow: auto;
  background-color: rgb(150, 177, 194);
  height: 280px;
  box-shadow: 0px 2px 10px .5px rgba(0, 0, 0, .125);
}

span.learn-more {
  float: none;
  background-color: bisque;
}

.image-section {
  width: 100%;
  min-width: 1000px;
  height: 600px;
  background-color: rgb(22, 71, 71);
  background-image: url("../img/me1.JPG");
  background-position: center top;
  background-size: 100%;
  position: relative;
  overflow-wrap: normal;
  box-shadow: 0px 2px 10px .5px rgba(0, 0, 0, .25);
}

.paragraph-section {
  background-color: aliceblue;
  background-blend-mode: hard-light;
  width: 100%;
  height: 300px;
  padding: 25px 15px 40px 15px;
}

.my-picture {
  padding: 5px;
  margin: 15px;
  background-color: rgb(11, 29, 44);
  border-color: rgb(29, 27, 27);
  border-width: 8px;
  border-style: solid;
}

.my-info {
  padding: 15px;
  margin: 15px;
  background-color: rgb(140, 160, 179);
  border-color: rgb(75, 70, 70);
  border-width: 8px;
  border-style: solid;
  background-blend-mode: hard-light;
}

.bottom-info {
  margin-top: 30px;
  font-weight: bolder;
  font-size: 18px;
  color: white;
  display: block;
}

h2 {
  font-size: 250%;
  font-weight: bolder;
  margin-bottom: 15px;
  font-family: 'Martel',Georgia;
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
}

.paragraph-section:hover {
  background-color: yellow;
  transition: all .5s ease;
  opacity: 1;
}

.footer-section {
  width: 100%;
  overflow: auto;
  background-color: rgb(41, 42, 43);
  height: 100px;
}