body {
  background-image: url("../img/stripes-light.png");
  background-attachment: fixed;
  text-align: center;
  font-family: sans-serif;
}

#main-title {
  color: rgb(37, 37, 37);
  text-shadow: 1px 1px 3px grey;
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.big-title {
  float: right;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
  margin-right: 200px;
  margin-top: 250px;
  background-color: white;
  padding: 10px 15px;
}

p {
  font-size: 16px;
  line-height: 24px;
}


.main-section {
  padding-top: 30px;
  width: 100%;
  overflow: auto;
  background-color:  rgb(255, 125, 65);
  height: 250px;
}

span.learn-more {
  float: none;
  background-color: bisque;
}

.image-section {
  width: 100%;
  min-width: 1000px;
  height: 600px;
  background-color: rgb(22, 71, 71);
  background-image: url("../img/me1.JPG");
  background-position: center top;
  background-size: 100%;
  background-blend-mode: screen;
  position: relative;
  overflow-wrap: normal;
}

.paragraph-section-float {
  background-color: aliceblue;
  border-color: rgb(75, 70, 70);
  border-width: 8px;
  border-style: solid;
  background-blend-mode: hard-light;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
  margin: 15px;
  position: static;
  width: 450px;
  height: 450px;
  padding: 25px 15px 40px 15px;
}

.paragraph-section {
  background-color: aliceblue;
  border-color: rgb(75, 70, 70);
  border-width: 8px;
  border-style: solid;
  background-blend-mode: hard-light;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
  margin: 15px;
  display: inline-block;
  width: 40%;
  height: 450px;
  padding: 25px 15px 40px 15px;
}

.my-picture {
  padding: 5px;
  margin: 15px;
  background-color: rgb(11, 29, 44);
  border-color: rgb(29, 27, 27);
  border-width: 8px;
  border-style: solid;
  /* background-blend-mode: hard-light; */
}

.my-info {
  padding: 15px;
  margin: 15px;
  background-color: rgb(140, 160, 179);
  border-color: rgb(75, 70, 70);
  border-width: 8px;
  border-style: solid;
  background-blend-mode: hard-light;
}

.top-info {
  font-weight: bolder;
  font-size: 18px;
}

h2 {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.paragraph-section:hover {
  background-color: yellow;
  transition: all .5s ease;
  opacity: 1;
}

.paragraph-section p {
  /* opacity: 0; */
  transition: all .5s ease;
}

.paragraph-section:hover p {
  opacity: 1;
}